.cart-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  font-family: 'Roboto';
}

.cart-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.remove-all-btn {
  color: #286ec9;
  border: none;
  background-color: transparent;
  font-family: 'Roboto';
  font-size: 16px;
  cursor: pointer;
  outline: none;
}
.unordered-list {
  display: flex;
  flex-direction: column;
  width: 80%;
}