.buttons-container {
  background-color: green;
  padding: 15px;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 80px;
  height: 40px;
  border-radius: 15px;
}
.quantity_button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  color: white;
}