.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  box-shadow: 0px 1px;
}
@media (max-width: 576px) {
  .header-container {
    width: 100%;
  }
  .my-orders {
    display: none;
  }
}
@media (min-width: 577px) {
  .header-container {
    width: 100%;
  }
  .my-orders {
    display: flex;
    padding-right: 20px;
    font-family: 'Roboto';
  }
}
.icons-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  margin-right: 20px;
}
.cart_count {
  background-color: orange;
  color: white;
  height: 20px;
  width: 20px;
  border-radius: 52%;
  text-align: center;
}

.logout {
  color: white;
  background-color: blue;
  border: none;
  border-radius: 15px;
  font-size: 15px;
  padding: 10px;
  cursor: pointer;
  outline: none;
}
.heading-link {
  text-decoration: none;
  font-family: 'Roboto';
}

.cartButtonSty {
  background-color: transparent;
  border: none;
}
