.cart-item {
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  background-color: bisque;
  border-radius: 15px;
}

.name-image-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  min-width: 250px;
  font-family: 'Roboto';
}

.cart-image {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  margin-right: 10px;
}

.quantity-container {
  display: flex;
  min-width: 100px;
  justify-content: space-between;
  align-items: center;
}

.quantity-button {
  cursor: pointer;
  outline: none;
}

.remove-btn {
  border: none;
  cursor: pointer;
  outline: none;
  background-color: transparent;
}