.bg-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100vh;
}
.form-container {
  width: 30%;
  display: flex;
  flex-direction: column;

  border-radius: 8px;
  padding: 20px;
  box-shadow: 1px 2px 5px 2px;
}

.webiste-logo {
  width: 50%;
  align-self: center;
  margin-bottom: 30px;
}

@media screen and (max-width: 576px) {
  .form-container {
    width: 90%;
  }
}

.username-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}
.username-label {
  color: black;
  font-family: 'Roboto';
  margin-bottom: 10px;
}

.userinput {
  background-color: transparent;
  padding: 15px;
  border: 1px solid #64748b;
  border-radius: 8px;
  color: black;
}

.login-btn {
  background-color: #4f46e5;
  border: none;
  border-radius: 8px;
  padding: 8px;
  color: white;
  cursor: pointer;
  outline: none;
}

.error-msg {
  color: red;
  font-family: 'Roboto';
}

.restaurant-name {
  color: black;
  font-family: 'Roboto';
  text-align: center;
}